html {
    font-family: "AppleGothic";
}

body {
    background-color: #7EBDC2;
    color: #231F20;
    margin: 0px;
}

h1 {
    color: #231F20;
    font-family: "AppleGothic";
}

h2{
    text-align: right;
    width: 100%;
    font-size: 20px;
    color: #EFE6DD;
}

p {
    color:#231F20;
    text-align: center;
}

text{
    font-family: "AppleGothic";
    color: #231F20;
}

textarea{
    background-color: #EFE6DD;
}

.section-header{
    text-anchor: middle;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    stroke: #BB4430;
    stroke-width: 2px;
    stroke-opacity: 1;
    width: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    vertical-align: middle;
}

.section-body{
    text-anchor: middle;
    text-align: center;
    display: block;
    padding-bottom: 30px;
    width: 1000px;
    margin: auto;
}

.section-div-1{
    width: 100%;
    margin: auto;
    text-align: center;
}

.instructions{
    color: #BB4430;
}

.tweet-div{
    width: 300px;
    color: #BB4430;
    fill: #BB4430;
    height: 400px;
    margin-top: px;
    float: left;
    text-align: center;
    margin-left: 100px;
}

.bubble-tooltip-content{
    margin-top: 200px;
}

.bubble-div{
    margin-bottom: 50px;
}

.bubble-svg{
    float: right;
}

#TermSearchBox{
    margin-bottom: 15px;
    margin-left: 50px;
}

.viz-1-title{
    fill: #231F20;
    font-size: 28px;
    text-align: center;
    word-wrap: normal;
    text-decoration: underline;
    text-anchor: middle;
    width: 1400;
}

.viz-1-title-container{
    width: 1400;
    font-size: 28px;
    text-align: center;
    word-wrap: normal;
    text-decoration: underline;
    text-anchor: middle;
    width: 1400;
}

.bubble-sub-div{
    width: 1400px;
    height: 700px;
}

.search-div{
    background-color: #BB4430;
    width: 1400;
    margin: 0px;
    padding: 0px;
}

.bubble-button-div{
    margin-bottom: 150px;
}

.bubble-buttons{
    color:  #231F20
}

.tick {
    color:  #F3DFA2
}

.domain {
    color:  #F3DFA2
}

.axis text{
    fill: #F3DFA2;
}